# Ignore everything
*

# Unignore the data folder and its contents
!data/
!data/**

# Unignore the dist folder and its contents
!dist/
!dist/**

# Unignore the src directory and allow server.js
!src/
!src/server.js