@import url(https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap);

:root {
    --random-translateXa: -2500px;
    --random-translateXb: 0;
}

body {
    font-family: 'MuseoModerno';
}

.main-container {
    margin: 6.25rem;
}

h1,
p {
    text-align: center;
}

p {
    margin: 0;
}

select {
    height: 2rem;
    margin: 0.625rem;
    font-family: 'MuseoModerno';
}

.balance-section {
    text-align: right;
    margin: 2rem;
}

.case-open-window-holder {

    position: relative;
    margin: 6.25rem;
    display: flex;
    justify-content: center;
}

.case-open-window {
    /* position: absolute; */
    border: 2px solid black;
    max-width: 43.75rem;
    min-height: 6.25rem;
    display: flex;
    justify-content: center;
}

.case-select-container {
    display: flex;
    justify-content: center;
}

.case-open-marker {
    position: absolute;
    background-color: rgba(212, 176, 13, 0.801);
    height: 6.25rem;
    width: 2px;
    z-index: 2;
}

.button-section {
    margin: 6.25rem;
    justify-content: center;
    display: flex;
}

.open-button {
    font-size: 1rem;
    padding: 2%;
    min-height: 20px;
    border-radius: 5%;
}

.item-holder {
    width: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
    border: 1px solid black;
    display: flex;
    z-index: 0;
}

.item {
    position: relative;
    /* width: 10vw; */
    /* font-size: 10px; */
    justify-content: center;

    border: 1px solid rgb(158, 158, 158);
    min-width: 150px;
    display: block;
    z-index: 1;
}

.obtainedItem {
    position: absolute;
    transform: translateY(-100px);
    width: 20vw;
    height: 40vh;
    border-radius: 10px;
    background-color: black;
    z-index: 3;
    border: 5px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    scale: 0.9;
}

.obtainedItem:hover {
    scale: 1;
}

.obtained-image {
    margin: 0 auto;
    position: relative;
    width: 120%;
    z-index: 4;
}

.image {

    max-width: 6.25em;
    max-height: 6.25em;
}

.item-rarity-box {
    position: relative;
    width: 100%;
    min-height: 20px;

}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animatedItem {
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    0% {
        transform: scale(0.3);
    }


    100% {
        transform: scale(1);
        transform: translateY(-100px);
    }
}


@keyframes bounceOut {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(.95);
    }

    50% {
        opacity: 1;
        transform: scale(1.1);
    }

    100% {
        opacity: 0;
        transform: scale(.3);
    }
}

@keyframes moveLeft {
    0% {
        transform: translateX(0)
    }

    100% {
        transform: translateX(var(--random-translateXb));
    }
}

@keyframes flipInX {
    0% {
        transform: perspective(400px) rotateX(90deg);
        opacity: 0;
    }

    100% {
        transform: perspective(400px) rotateX(0deg);
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

.flipInX {
    backface-visibility: visible !important;
    animation-name: flipInX;
}

.bounceOut {
    -webkit-animation-name: bounceOut;
    animation-name: bounceOut;
}

.moveLeft {
    -webkit-animation-name: moveLeft;
    animation-name: moveLeft;
}